/* Webfont: Graphik-Bold */@font-face {
    font-family: 'GraphikBold';
    src: url('Graphik-Bold.eot'); /* IE9 Compat Modes */
    src: url('Graphik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Graphik-Bold.woff') format('woff'), /* Modern Browsers */
         url('Graphik-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Graphik-Bold.svg#Graphik-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

